$body-bg: #ffffff;

.bg-lime {
  background-color: yellowgreen !important;
}

.bg-white {
  background-color: white !important;
}

.d-block {
  display: block;
}

.w-100 {
  height: 400px;
  width: 600px !important;
}

.w-100 img {
  height: 100%;
}

.carousel-indicators li {
  background-color: darkgray; //this can be whatever color you want
}
