//Colors
$flambeau-orange: #dd9933;
$flambeau-dark-brown: #553311;
$flambeau-red: #aa3311;
$body-bg: #ffffff;

$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;

$gray-100: #6c757d;
$gray-600: #6c757d;
$gray-800: #6c757d;

$primary: $flambeau-red;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $orange !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;
$dark-brown: $flambeau-dark-brown;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "dark-brown": $dark-brown
  ),
  $theme-colors
);

//Typography
:root {
  font-size: 62.5%;
  body {
    margin: 0;
    // Body font size 16px
    font-size: 2.2rem;
  }
}

$navbar-brand-font-size: 2.3rem;
$banner-font-size: 2.7rem;

div.banner {
  font-size: 5.6rem;
  display: block;
  line-height: 5.8rem;
  margin-top: 7rem !important;
  margin-bottom: 1.2rem !important;
}

.orange-banner-italic {
  // font-family: cursive;
  font-style: italic;
  font-size: 18px;
  background-color: rgba(221, 153, 51, 0.6);
  display: inline;
  padding: 12px 15px 12px 15px;
}

svg.svg-inline--fa.fa-bars {
  color: $flambeau-orange !important;
}

h1 {
  font-size: 5rem !important;
}

.woodbadge {
  font-family: "woodbadge";
}

.dark-brown {
  color: $dark-brown;
}

.bg-brown {
  color: $flambeau-orange;
  background-color: $dark-brown;
}

.bg-white {
  background-color: white !important;
}

// Carousel
.d-block {
  display: block;
}

.w-100 img {
  height: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.img-slide {
  background-color: $flambeau-red;
  height: 30rem;
  align-content: center;
}

.carousel-indicators li {
  background-color: $dark-brown; //this can be whatever color you want
}

//Navigation

.sticky-wrapper {
  position: relative;
}

.sticky .sticky-inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navbar-brand {
  display: inline-block;
  // padding-top: $navbar-brand-padding-y;
  // padding-bottom: $navbar-brand-padding-y;
  // margin-right: $navbar-padding-x;
  // @include font-size($navbar-brand-font-size);
  font-family: "woodbadge";
  font-size: 3.8rem !important;
  line-height: inherit;
  white-space: nowrap;
  color: #dd9933 !important;
  a {
    color: #dd9933 !important;
  }
}

$navbar-brown-color: rgba($flambeau-orange, 0.5);
$navbar-brown-hover-color: rgba($flambeau-orange, 0.7);
$navbar-brown-active-color: rgba($flambeau-orange, 0.9);
$navbar-brown-disabled-color: rgba($flambeau-orange, 0.3);
$navbar-brown-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$flambeau-orange}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
$navbar-brown-toggler-border-color: rgba($flambeau-orange, 0.1);

.dropdown-menu {
  font-size: 2.8rem !important;
}

.nav-links a {
  font-family: "woodbadge" !important;
  font-size: 2.8rem !important;
  color: $flambeau-orange !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    align-self: flex-end !important;
    flex-direction: row-reverse;
  }

  .dropdown-menu {
    font-size: 2.4rem !important;
  }

  .nav-links a {
    font-family: "woodbadge" !important;
    font-size: 2.4rem !important;
    color: $flambeau-orange !important;
  }
}

button.navbar-toggler.collapsed {
  border: solid 1px $flambeau-orange;
  // font-size: 1.7rem;
}

.home {
  background-image: url("../../assets/images/canoe_large.png");
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: auto;
}

.jumbotron {
  border-radius: 0px !important;
  height: 440px;
}
